<%= content_tag :div, id:"bookmark-#{bookmark.id}" do%>

  <div class="col-xs-6 col-md-4"  >
    <div class="thumbnail">
      <%= image_tag(bookmark.image ||"default.jpg")%>
      <div class="caption">
        <h3><%= get_host_without_www(bookmark.url)%></h3>
        <p><%= bookmark.url %></p>
        <p>
           <%= render partial: 'likes/like', locals: { bookmark: bookmark } %>
          <% if policy(bookmark).destroy? %>
          <%= link_to "delete", [bookmark.topic, bookmark], method: :delete, remote:true, class:'btn btn-danger' %>
          <% end %>
        </p>

      </div>
    </div>
  </div>


<%end%>